.header{
background:#2DA87D;
text-align: center;

}

.main-right{
border:solid 1px;
margin:0px 13px 1px;
}

.konnitiwa{
margin:50px 0px -20px 0px;
}

.date{
margin:20px 0px -20px 0px;
}

.main-left{
float:right;
}


.footer{
background:#2DA87D;
text-align: center;
height:40px;
margin:10px 0px;
}